<body>

    <h1>Battle</h1>


    {{#each pokeRegistros3}}
    <h2><strong>{{username}}</strong></h2>
    {{/each}}
    <div class="table-responsive-lg">

        <table class="table table-hover table-dark table-responsive">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">name</th>
                    <th scope="col">imagen</th>
                    <th scope="col">experience</th>
                    <th scope="col">types</th>
                    <th scope="col">experience</th>
                    <th scope="col">action</th>

                </tr>
            </thead>
            <tbody>
                {{#each pokeRegistros}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td> <img src="{{imagen}}" style="max-width:200%;width:auto;height:auto;">
                    </td>
                    <td>{{experience}}</td>
                    <td>{{types}}</td>
                    <td>{{abilities}}</td>
                    <td> <a href="/pokemons/deletee/{{id}}" class="btn btn-danger">Borrar</a>
                    </td>


                </tr>
                {{!-- {{/each}} --}}
                  {{else}}
        <div class="col-md-6 mx-auto">
            <div class="card card-body text-center">
                <div class="alert alert-danger" role="alert">
                    <b>No Hay Pokemones Guardados</b>
                </div>
                <a href="/pokemons/add" class="btn btn-success">Guarda Pokemones!!!...</a>
            </div>
        </div>
        {{/each}}

            </tbody>
        </table>
    </div>


    <script src="/js/battles.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>